@media only screen and (max-width: 992px) {
  //Paddings
  .main-body,
  .future-lakers,
  .feedback,
  .footer {
    padding-left: $main_padding_for_tablets;
    padding-right: $main_padding_for_tablets;
  }

  h1 {
    font-size: 4.5rem;
  }

  .menu{
    p {
      display: block;
      font-size: size("xl");
    }
  }

  .nav {
    justify-content: space-between;
  }

  // Admitted Student
  .admitted-students-div {
    height: 30vh;
  }

  .top-sub-nav {
    display: none;
  }
  // Future Lakers

  .future-lakers {
    height: auto;
        .two-girls-happy {
       height: 300px;
       width: auto;
    }
  }

  // Trending Now
  .trending-now {
    .grid {
      @include grid(2);
    }

    .grid-element:last-child {
      grid-column: 1/3;
      justify-content: center;
      width: 50%;
      margin: 0 auto;
    }
  }

  // Value and Outcome
  .value-and-outcome {
    .grid {
      @include grid(2);
    }

    p{
        font-size: size("sm");
    }
  }

  //Feedback

  .feedback-paragraph {
    h3 {
      font-size: size("ml");
    }
  }

  //Footer 

  footer {
    height: 50vh;
  }
}
