// Large Screen Sizes
@media only screen and (min-width: 992px) {
  * {
    font-size: 95%;
  }

  h1 {
    font-size: 5.5rem;
  }

  img {
    height: auto;
    width: 50%;
    max-width: 1200px;
    object-fit: cover;
  }

  .main-body p {
    font-size: size("s");
  }

  .menu {
    p {
      display: none;
      font-size: size("xl");
    }
  }
}
