// The button templates to use
.btn-type-2 {
  background-color: white;
}

.btn-type-3 {
  border: 1px solid $green_color;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: $white_color;
}
