@import "../variables";
@import "../functions";

.nav,
.top-sub-nav {
  @include flex(row);
  align-items: center;
}

.nav {
  justify-content: space-between;

  height: 7rem;
  padding: 1rem 3rem;
  background-color: whitesmoke;

  .logo {
    width: 12rem;
  }
}

.top-sub-sub-nav {
  @include flex(column);
  padding: 1rem;
}

.top-sub-sub-sub-nav {
  color: gray;

  &:first-child {
    font-family: "Inter", sans-serif;
    font-size: size("s");
    font-weight: bold;
  }

  .display-nav {
    @include flex(row);
    justify-content: flex-end;
  }

  .position {
    position: relative;
  }


  .hovered-nav {
    @include font-main();
    display:none;
    padding: 0.5rem 1rem;
    position: absolute;
    font-size: size("sm");
    background-origin: padding-box;
    top: 100%;
    right: 0;

    background-color: $green_color;
    color: $white_color;
    width: 15rem;
    border-radius: 5px;

    &::before {
      content: ""; // Add content for the pseudo-element
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 1rem 1rem 1rem;
      border-color: transparent transparent $green_color transparent;
      transform: rotate(0deg);

      position: absolute;
      right: 10%;
      top: -4%;
    }
    
    &:hover {
      display:block;
    }
  }

  .display-nav:hover .hover-tag{
    animation: nav-hover-font-color 300ms ease-out both;

  }

  .hover-tag:hover + .hovered-nav {
    display: block;
    animation: nav_animation 300ms ease-out both;
  }

  li {
    padding: 0.5rem 1rem;
  }
}

.sub-1 {
  filter: brightness(70%);

  &::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.15);
    height: 1.5rem;
    width: 1px;
  }
}

.sub-2 {
  img {
    width: 1rem;
    color: black;
  }
}

.lower_nav {
  font-size: 1.6rem;
  color: $green_color;
}

.search-icon {
  @include flex(row);
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: white;
  background-color: $green_color;
}


@keyframes nav_animation {
  0% {
    transform: translateY(7px);
    opacity: 0%;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes nav-hover-font-color {
  0% {
    color:$green_color;
    opacity: 1;
  }

  100% {
    color:gray;
    opacity: 0.5;
  }
}