@import "../variables";
@import "../mixins";
@import "../components/btn";
@import "../components/format-categories";

// Main Body

header {
  height: 120vh;
}

.main-body {
  padding: 18rem $main_padding 3rem $main_padding;
  //Background image
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url("../imgs/main_pic.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;

  p {
    display: inline-block;
    color: $white_color;
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-size: size("sm");
    padding: 1rem;
  }

  h4 {
    color: $yellow_color;
  }
}

.main_page_button {
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid white;
  color: white;
}

//Admitted Students section
.admitted-students-section {
  background-color: $green_color;
  background-image: url("/imgs/waves.svg");
}

.admitted-students-div {
  @include flex(column);
  align-items: center;
  height: 45vh;

  h2 {
    color: white;
    padding: 1rem;
    margin: 1rem;

    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  p {
    color: $white_color;
  }
}

//FUTURE LAKERS
.future-lakers {
  @include flex(row);

  height: 80vh;
  padding: 2rem $main_padding;

  div {
    padding: 3rem 2rem;
  }

  .two-girls {
    width: 50%;
  }
}

//Trending section

.trending-now {
  background-color: whitesmoke;
  padding-bottom: 2rem;

  .grid {
    @include grid(3);
  }

  .grid-element {
    background-color: $white_color;
    border-radius: 3px;

    h2 {
      font-size: size("l");
      padding-bottom: 1.5rem;
    }

    p {
      font-size: size("s");
    }

    img {
      width: 100%;
      border-radius: 3px;
    }

    .container {
      padding: 2rem;
    }
  }
}

.trending-links {
  margin: 0;
  padding: 1.5rem 0 0 0;

  i {
    padding: 0 1rem;
    font-size: size("ml");
    transform: translateY(3px);
  }
}

// Vibrant Community

.vibrant-community {
  @include flex(column);
  align-items: flex-end;
  justify-content: center;

  height: 60vh;

  background-image: url("../imgs/new-oswego-collage-life_0.jpg");
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;

  .container {
    width: 50%;
    padding: 2rem;

    justify-content: flex-end;
    background-color: rgba(255, 255, 255, 0.9);
  }
}

// Return on investment

.value-and-outcome {
  background-color: whitesmoke;

  .sub-title {
    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .grid {
    @include grid(4);
  }

  .grid-element {
    background-color: $white_color;
    border-radius: 3px;

    h2{
      font-size: size("l");
    }
  }

  p {
    font-size: size("s");
  }

  .container {
    padding: 2rem;
  }
}
