@import "../variables";
@import "../mixins";

// Main Body

header {
  height: 120vh;
}

.main-body {
  padding: 18rem 4rem 3rem 4rem;
  //Background image
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url(/imgs/main_pic.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;

  p {
    display: inline-block;
    color: $white_color;
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-size: size("sm");
  }
}

.main_page_button {
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid white;
}

//Admitted Students section
.admitted-students-section {
  background-color: $green_color;
  background-image: url("/imgs/waves.svg");
}

.admitted-students-div {
  @include flex(column);
  align-items: center;
  height: 45vh;

  h2 {
    color: white;
    padding: 1rem;
    margin: 1rem;

    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  button {
    color: $green_color;
    background-color: white;
  }

  p {
    color: $white_color;
  }
}

//FUTURE LAKERS
.future-lakers {
  @include flex(column);
  align-content: center;
  justify-content: center;
  padding: 2rem 4rem;
  display: flow-root;
}

.two-girls {
  width: 50%;
  float: left;
  padding-right: 2rem;
}
