@import "../variables";
@import "../mixins";
@import "../components/btn";
@import "../components/format-categories";

// Main Body

header {
  height: 120vh;
}

.main-body {
  padding: 18rem $main_padding 3rem $main_padding;
  //Background image
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url("../imgs/main_pic.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;

  p {
    display: inline-block;
    color: $white_color;
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-size: size("sm");
    padding: 1rem;
  }

  h4 {
    color: $yellow_color;
  }
}

.main_page_button {
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid white;
  color: white;
}

//Admitted Students section
.admitted-students-section {
  background-color: $green_color;
  background-image: url("/imgs/waves.svg");
}

.admitted-students-div {
  @include flex(column);
  align-items: center;
  height: 45vh;

  h2 {
    color: white;
    padding: 1rem;
    margin: 1rem;

    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  p {
    color: $white_color;
  }
}

//FUTURE LAKERS
.future-lakers {
  @include flex(row);

  height: 80vh;
  padding: 2rem $main_padding;

  div {
    padding: 3rem 2rem;
  }
}

//Trending section

.trending-now {
  background-color: whitesmoke;
  padding-bottom: 2rem;

  .grid {
    @include grid(3);
  }

  .grid-element {
    background-color: $white_color;
    border-radius: 3px;

    h2 {
      font-size: size("l");
      padding-bottom: 1.5rem;
    }

    p {
      font-size: size("s");
    }

    img {
      width: 100%;
      border-radius: 3px;
    }

    .container {
      padding: 2rem;
    }
  }
}

.trending-links {
  margin: 0;
  padding: 1.5rem 0 0 0;

  i {
    padding: 0 1rem;
    font-size: size("ml");
    transform: translateY(3px);
  }
}

// Vibrant Community

.vibrant-community {
  @include flex(column);
  align-items: flex-end;
  justify-content: center;

  height: 60vh;

  background-image: url("../imgs/new-oswego-collage-life_0.jpg");
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;

  .container {
    width: 50%;
    padding: 2rem;

    justify-content: flex-end;
    background-color: rgba(255, 255, 255, 0.9);
  }
}

// Return on investment

.value-and-outcome {
  background-color: whitesmoke;
  padding-bottom: 2rem;

  .sub-title {
    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .grid {
    @include grid(4);
  }

  .grid-element {
    background-color: $white_color;
    border-radius: 3px;

    h2 {
      font-size: size("l");

      &::before {
        width: 4rem;
      }
    }
  }

  p {
    font-size: size("s");
    padding: size("l") 0;
  }

  .container {
    padding: 2rem;
  }
}

// Feedback section

.feedback {
  background-color: $green_color;
  padding: $main_padding;
  position: relative;
}

.feedback-flex {
  @include flex(row);
  img {
    width: 100%;
  }
}

.feedback-paragraph {
  padding: 0 2rem;
  max-width: 50%;

  h3 {
    color: $white_color;
    font-size: size("xl");
  }

  h4 {
    color: $yellow_color;
  }

  .user-feedback-name {
    padding-top: 25%;

    p {
      color: $white_color;
    }
  }
}

.quote {
  position: absolute;
  padding: 0.8rem;
  border-radius: 50%;
  top: -5%;
  left: 50%;
  font-size: size("xxl");
  background-color: $green_color;
  color: rgb(11, 60, 36);
  box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.47);
}

// Social Media Section

.social-media-title {
  text-align: center;
  padding: 0.5rem;

  h2 {
    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .social-media {
    padding: 0.5rem;
    color: $green_color;
    font-size: size("l");
    letter-spacing: 0.2rem;
  }
}

.go-oswego-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url("/imgs/go-oswego-shineman-sci.jpg");
  height: 80vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;

  @include flex(row);
  justify-content: center;
  align-items: center;

  h4 {
    color: $yellow_color;
  }

  h2 {
    color: $white_color;
  }

  div {
    width: 50%;
  }
}

//Footer section

footer {
  position: relative;
  padding: $main_padding;
  background-color: $darkgray_color;
  height: 90vh;

  a,
  .suny-oswego-text {
    font-family: "Inter", sans-serif;
  }

  p,
  a {
    color: $white_color;
    font-size: 0.8rem;
    font-weight: 200;
  }

  a {
    text-decoration: underline;
  }

  li {
    padding: 3px;
  }
  ul {
    padding: 1rem 0;
  }
}

.upper-footer {
  @include flex(row);
  justify-content: space-between;

  img {
    width: 90%;
  }

  p {
    padding: 0.5rem 3rem;
  }

  h4 {
    position: relative;
    bottom: 0;
  }

  h4::before {
    position: absolute;
    content: "";
    width: 120%;
    height: 1px;
    background-color: $gray_color;
    bottom: -50%;
  }
}

.footer-right-gp {
  @include flex(row);
}

.footer-main-gp {
  position: relative;
  padding: 1rem;
  width: 19rem;
}

.footer-button {
  width: 100%;
  color: $white_color;
  background-color: black;
  border: 2px solid $white_color;
}

.footer-bottom {
  position: absolute;
  width: 90%;
  color: $white_color;
  padding: 1rem;

  @include flex(row);
  justify-content: space-between;
  bottom: 10%;

  &::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background-color: $gray_color;
    top: -50%;
  }
}

.social-media {
  font-size: size("l");
}
