
// Easy shortcut for using flex
@mixin flex($direction) {
    display:flex;
    flex-direction: $direction;
}

@mixin title_line() {
    content: "";
    background-color: $yellow_color;
    position: absolute;
    width: 10%;
    height: 0.2rem;
    bottom: 0.5rem;
}