@import "functions";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  color: white;
  font-size: size("s");
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}
