@import "functions";
@import "variables";
@import "mixins";

// These are the default format of tags for this website
// font-family: 'Inter', sans-serif;

h4,
p {
  font-family: "Inter", sans-serif;
}

h4 {
  text-transform: uppercase;
  color: $green_color;
  font-size: size("s");
  letter-spacing: 0.1rem;
}

h1 {
  font-size: size("header");
  color: white;
  padding: 0.5rem 0;
    position: relative;

  &::before {
    @include title_line();
    height: 0.2rem;
  }
}

h2 {
  padding: 1rem 0;
  font-size: size("sub-header");
    position: relative;

  &::before {
    @include title_line();
  }
}

// paragraph styling

p {

  font-size: size("m");
  font-weight: 300;
  line-height: 1.5rem;
}

//button styling

button {
  margin: 1rem 0;
  padding: 1rem 2rem;
  border-radius: 3px;
  color: $green_color;
}
