@import "functions";
@import "variables";

// These are the default format of tags for this website
// font-family: 'Inter', sans-serif;

h4,
p {
  font-family: "Inter", sans-serif;
}

h4 {
  text-transform: uppercase;
  color: $yellow_color;
  font-size: size("s");
  letter-spacing: 0.1rem;
}

h1 {
  font-size: size("header");
  color: white;
  padding: 0.5rem 0;
}

h2 {
  padding: 1rem 0;
  font-size: size("sub-header");
}

h1,
h2 {
  position: relative;

  &::before {
    content: "";
    background-color: $yellow_color;
    position: absolute;
    width: 10%;
    height: 0.2rem;
    bottom: 0.5rem;
  }
}

// paragraph styling

p {
  padding: 1rem;
  font-size: size("m");
  font-weight: 300;
}

//button styling

button {
  margin: 1rem 0;
  padding: 1rem 2rem;
  border-radius: 3px;
}
