@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 0.8rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

h4,
p {
  font-family: "Inter", sans-serif;
}

h4 {
  text-transform: uppercase;
  color: rgb(18, 85, 53);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

h1 {
  font-size: 6rem;
  color: white;
  padding: 0.5rem 0;
  position: relative;
}
h1::before {
  content: "";
  background-color: rgb(236, 199, 36);
  position: absolute;
  width: 10%;
  height: 0.1rem;
  bottom: 0.5rem;
  height: 0.2rem;
}

h2 {
  padding: 1rem 0;
  font-size: 2.5rem;
  position: relative;
}
h2::before {
  content: "";
  background-color: rgb(236, 199, 36);
  position: absolute;
  width: 10%;
  height: 0.1rem;
  bottom: 0.5rem;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
}

button {
  margin: 1rem 0;
  padding: 1rem 2rem;
  border-radius: 3px;
  color: rgb(18, 85, 53);
}

.btn-type-2 {
  background-color: white;
}

.btn-type-3 {
  border: 1px solid rgb(18, 85, 53);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.title-center {
  text-align: center;
  padding: 2rem;
}

header {
  height: 120vh;
}

.main-body {
  padding: 18rem 4rem 3rem 4rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../imgs/main_pic.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.main-body p {
  display: inline-block;
  color: white;
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-size: 0.9rem;
  padding: 1rem;
}
.main-body h4 {
  color: rgb(236, 199, 36);
}

.main_page_button {
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid white;
  color: white;
}

.admitted-students-section {
  background-color: rgb(18, 85, 53);
  background-image: url("/imgs/waves.svg");
}

.admitted-students-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45vh;
}
.admitted-students-div h2 {
  color: white;
  padding: 1rem;
  margin: 1rem;
}
.admitted-students-div h2::before {
  left: 50%;
  transform: translateX(-50%);
}
.admitted-students-div p {
  color: white;
}

.future-lakers {
  display: flex;
  flex-direction: row;
  height: 80vh;
  padding: 2rem 4rem;
}
.future-lakers div {
  padding: 3rem 2rem;
}

.trending-now {
  background-color: whitesmoke;
  padding-bottom: 2rem;
}
.trending-now .grid {
  padding: 0 4rem;
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}
.trending-now .grid-element {
  background-color: white;
  border-radius: 3px;
}
.trending-now .grid-element h2 {
  font-size: 1.4rem;
  padding-bottom: 1.5rem;
}
.trending-now .grid-element p {
  font-size: 0.8rem;
}
.trending-now .grid-element img {
  width: 100%;
  border-radius: 3px;
}
.trending-now .grid-element .container {
  padding: 2rem;
}

.trending-links {
  margin: 0;
  padding: 1.5rem 0 0 0;
}
.trending-links i {
  padding: 0 1rem;
  font-size: 1.2rem;
  transform: translateY(3px);
}

.vibrant-community {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 60vh;
  background-image: url("../imgs/new-oswego-collage-life_0.jpg");
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
}
.vibrant-community .container {
  width: 50%;
  padding: 2rem;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.9);
}

.value-and-outcome {
  background-color: whitesmoke;
  padding-bottom: 2rem;
}
.value-and-outcome .sub-title::before {
  left: 50%;
  transform: translateX(-50%);
}
.value-and-outcome .grid {
  padding: 0 4rem;
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}
.value-and-outcome .grid-element {
  background-color: white;
  border-radius: 3px;
}
.value-and-outcome .grid-element h2 {
  font-size: 1.4rem;
}
.value-and-outcome .grid-element h2::before {
  width: 4rem;
}
.value-and-outcome p {
  font-size: 0.8rem;
  padding: 1.4rem 0;
}
.value-and-outcome .container {
  padding: 2rem;
}

.feedback {
  background-color: rgb(18, 85, 53);
  padding: 4rem;
  position: relative;
}

.feedback-flex {
  display: flex;
  flex-direction: row;
}
.feedback-flex img {
  width: 100%;
}

.feedback-paragraph {
  padding: 0 2rem;
  max-width: 50%;
}
.feedback-paragraph h3 {
  color: white;
  font-size: 1.8rem;
}
.feedback-paragraph h4 {
  color: rgb(236, 199, 36);
}
.feedback-paragraph .user-feedback-name {
  padding-top: 25%;
}
.feedback-paragraph .user-feedback-name p {
  color: white;
}

.quote {
  position: absolute;
  padding: 0.8rem;
  border-radius: 50%;
  top: -5%;
  left: 50%;
  font-size: 2rem;
  background-color: rgb(18, 85, 53);
  color: rgb(11, 60, 36);
  box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.47);
}

.social-media-title {
  text-align: center;
  padding: 0.5rem;
}
.social-media-title h2::before {
  left: 50%;
  transform: translateX(-50%);
}
.social-media-title .social-media {
  padding: 0.5rem;
  color: rgb(18, 85, 53);
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
}

.go-oswego-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("/imgs/go-oswego-shineman-sci.jpg");
  height: 80vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.go-oswego-section h4 {
  color: rgb(236, 199, 36);
}
.go-oswego-section h2 {
  color: white;
}
.go-oswego-section div {
  width: 50%;
}

.nav,
.top-sub-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav {
  justify-content: space-between;
  height: 7rem;
  padding: 1rem 3rem;
  background-color: whitesmoke;
}
.nav .logo {
  width: 12rem;
}

.top-sub-sub-nav {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.top-sub-sub-sub-nav {
  color: gray;
}
.top-sub-sub-sub-nav:first-child {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}
.top-sub-sub-sub-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.top-sub-sub-sub-nav li {
  padding: 0.5rem 1rem;
}

.sub-1 {
  filter: brightness(70%);
}
.sub-1::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.15);
  height: 1.5rem;
  width: 1px;
}

.sub-2 img {
  width: 1rem;
  color: black;
}

.lower_nav {
  font-size: 1.6rem;
  color: rgb(18, 85, 53);
}

.search-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: white;
  background-color: rgb(18, 85, 53);
}/*# sourceMappingURL=index.css.map */