@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 0.8rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

h4,
p {
  font-family: "Inter", sans-serif;
}

h4 {
  text-transform: uppercase;
  color: rgb(236, 199, 36);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

h1 {
  font-size: 6rem;
  color: white;
  padding: 0.5rem 0;
}

h2 {
  padding: 1rem 0;
  font-size: 2.5rem;
}

h1,
h2 {
  position: relative;
}
h1::before,
h2::before {
  content: "";
  background-color: rgb(236, 199, 36);
  position: absolute;
  width: 10%;
  height: 0.2rem;
  bottom: 0.5rem;
}

p {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 300;
}

button {
  margin: 1rem 0;
  padding: 1rem 2rem;
  border-radius: 3px;
}

header {
  height: 120vh;
}

.main-body {
  padding: 18rem 4rem 3rem 4rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(/imgs/main_pic.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.main-body p {
  display: inline-block;
  color: white;
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-size: 0.9rem;
}

.main_page_button {
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid white;
}

.admitted-students-section {
  background-color: rgb(18, 85, 53);
  background-image: url("/imgs/waves.svg");
}

.admitted-students-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45vh;
}
.admitted-students-div h2 {
  color: white;
  padding: 1rem;
  margin: 1rem;
}
.admitted-students-div h2::before {
  left: 50%;
  transform: translateX(-50%);
}
.admitted-students-div button {
  color: rgb(18, 85, 53);
  background-color: white;
}
.admitted-students-div p {
  color: white;
}

.nav,
.top-sub-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav {
  justify-content: space-between;
  height: 7rem;
  padding: 1rem 3rem;
  background-color: whitesmoke;
}
.nav .logo {
  width: 12rem;
}

.top-sub-sub-nav {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.top-sub-sub-sub-nav {
  color: gray;
}
.top-sub-sub-sub-nav:first-child {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}
.top-sub-sub-sub-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.top-sub-sub-sub-nav li {
  padding: 0.5rem 1rem;
}

.sub-1 {
  filter: brightness(70%);
}
.sub-1::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.15);
  height: 1.5rem;
  width: 1px;
}

.sub-2 img {
  width: 1rem;
  color: black;
}

.lower_nav {
  font-size: 1.6rem;
  color: rgb(18, 85, 53);
}

.search-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: white;
  background-color: rgb(18, 85, 53);
}/*# sourceMappingURL=index.css.map */